body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-div {
    width: 350px;
    height: 560px;
    max-width: 350px;
    max-height: 560px;
    min-width: 350px;
    min-height: 560px;
    background-color: rgba(255, 255, 255, 0.929);
    margin: 100px auto;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
}

hr {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    margin: 0;
}

small{
    margin: 0;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
}

figure{
    margin: 0;
    padding: 0;
}

img {
    margin: 1rem;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

img:active {
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

fieldset {
    padding: 10px;
    margin: 0 auto 2rem auto;
    border: none;
    width: 300px;
    text-align: left;
    border: 1px solid;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    line-height: 1.5rem;
    border-radius: 10px;
}

input[type="text"], input[type="password"] {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.61);
    height: 1.5rem;
    width: 300px;
    display: block;
    margin: 1rem auto;
    text-align: center;
    margin-top: 0;
    border-radius: 5px;
}

input[type="password"]{
    margin-bottom: 0;
}

label[for="personal"], label[for="business"]{
    vertical-align: middle;
    display: inline-block;
}

input[type="radio"]{
    vertical-align: middle;
}

.in, .out {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    width: 300px;
    padding: 1px 2px 1px 2px;
    margin-top: 0.5rem;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.in:hover{
    background-color: rgb(222, 222, 222);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
}

.in:active {
    background-color: rgb(255, 255, 255);
}

a {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.out {
    margin: 0;
    background-color: black;
    color: white;
}

.out:hover{
    background-color: rgba(0, 0, 0, 0.763);
    cursor: pointer;
}

.out:active {
    background-color: rgb(255, 255, 255);
    color: black;
}